		.title{
		text-align: center;
		margin-top: 20px;
		font-size: 25px;
		letter-spacing: 2px;
		font-family: arial;
		font-weight: bold;
		}
		.container {
		height: 800px;
		width: 980px;
		margin: 0 auto;
		background-color: #80808026;
}
	.scriptOutput{
		margin-left: 10px;
		text-align: justify;
	}